@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.02rem;
}

.outerlayer {
  padding: 60px 3%;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight {
  background: linear-gradient(90deg, #ffffff 100%, rgba(255, 255, 255, 0) 50%);
}

body {
  margin: 0;
  background-color: #F2F35D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  position:fixed
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}